<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Give Me A Title{% endblock title %}</title>
    <style>
        form th {
            vertical-align: text-top;
            text-align: left;
        }
    </style>
</head>
<body>
    <nav>
        {% if user.is_authenticated %}
            <a href="{% url "home" %}">Home</a>
            <a href="{% url "logout" %}">Logout</a>
        {% else %}
            {% if request.resolver_match.url_name != "signup" %}
                <a href="{% url "signup" %}">Register</a>
            {% endif %}
            {% if request.resolver_match.url_name != "login" %}
                <a href="{% url "login" %}">Login</a>            
            {% endif %}
        {% endif %}
    </nav>
    <div>
        <h1>
            {% block header %}Give Me A Header{% endblock header %}
        </h1>
        {% block content %}
            Give Me Some Content
        {% endblock content %}
    </div>
</body>
</html>