<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Give Me A Title{% endblock title %}</title>
    <style>
        table th {
            vertical-align: text-top;
            text-align: left;
        }

        td p:first-child {
            margin-top: 0px;
        }

        td p:last-child {
            margin-bottom: 0px;
        }

        .subnav {
            margin-top: 10px;
        }

        caption {
            text-align: left;
        }

        #logout-form {
            display: inline;
        }
    </style>
</head>
<body>
    <nav>
        {% if user.is_authenticated %}
            <a href="{% url "home" %}">Home</a>
            <form action="{% url "logout" %}" id="logout-form" method="POST">
                {% csrf_token %}
                <a href="javascript:;" onclick="document.getElementById('logout-form').submit()">Logout</a>
            </form>
        {% else %}
            {% if request.resolver_match.url_name != "signup" %}
                <a href="{% url "signup" %}">Register</a>
            {% endif %}
            {% if request.resolver_match.url_name != "login" %}
                <a href="{% url "login" %}">Login</a>            
            {% endif %}
        {% endif %}
    </nav>
    <nav class="subnav">
        {% block subnav %}

        {% endblock subnav %}
    </nav>
    <div>
        <h1>
            {% block header %}Give Me A Header{% endblock header %}
        </h1>
        {% block content %}
            Give Me Some Content
        {% endblock content %}
    </div>
</body>
</html>